.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000071;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    overflow: hidden;
    &.overlayVisible{
      visibility: visible;
      opacity: 1;
    }
    &_modalcart{
      display: flex;
      flex-direction: column;
      flex: 1;
      width: 385px;
//  BIG workaround, works only for 100% scale of page, fat L for now sadly...
      height: 900px;
//    
      justify-content: space-between;
      z-index: 2;
      right: 0;
      position: absolute;
      background: #FFF;
      box-shadow: -10px 4px 24px 0px rgba(0, 0, 0, 0.10);
      padding: 30px;

      &-top{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &-title{
          margin-bottom: 30px;
          color: #000;
          font-family: Inter;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
        &-btn{

          &:hover{
            cursor: pointer;
          }
        }
      }
      &-items{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
        &-item{
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 20px;
          border: 1px solid #F3F3F3;
          background: #FFF;
          overflow: hidden;
          padding: 20px 20px 30px 20px;
          flex-shrink: 0;
          margin-bottom: 20px;
          &-img{
            margin-right: 10px;
          }
          &-text{
            margin-right: 20px;
            &-p{
              margin-bottom: 5px;
              color: #000;
              font-family: Inter;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
            &-b{
              color: #000;
              font-family: Inter;
              font-size: 14px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            }
          }
          & img{ 
            cursor: pointer;
          }
        }
      }
      &-empty{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &-title{
          margin-top: 30px;
          color: #000;
          font-family: Inter;
          font-size: 22px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
        &-p{
          margin-top: 11px;
          color: #000;
          text-align: center;
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px; /* 150% */
          opacity: 0.4;
        }
        &-btn{
          display: inline-flex;
          align-items: center;
          justify-content: center;
          position: relative;
          margin-top: 40px;
          padding: 18px 0;
          border: none;
          border-radius: 18px;
          background: #9DD458;
          width: 245px;
          height: 55px;
          flex-shrink: 0;
          color: #FFF;
          text-align: center;
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          &:hover{
            cursor: pointer;
            opacity: 0.7;

          }
          & img{
            left: 0;
            margin-left: 25px;
            position: absolute;
          }
        }
      }
      &-btm{

        &-ul{
          display: flex;
          flex-direction: column;
          padding: 0;
          &-li{
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            margin-bottom: 20px;
            &-span{
              color: #000;
              font-family: Inter;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
            &-line{
              flex: 1;
              height: 1px;
              border-bottom: 1px dashed #DFDFDF;
              margin: 0 8px;
              position: relative;
              top: -4px;
            }
            &-b{
              color: #000;
              font-family: Inter;
              font-size: 16px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
            }
          }
        }
        &-buybtn{
          display: inline-flex;
          align-items: center;
          justify-content: center;
          padding: 18px 0;
          border: none;
          border-radius: 18px;
          background: #9DD458;
          width: 100%;
          color: #FFF;
          text-align: center;
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;

          &:disabled{
            background-color: #a8a8a8;
          }
          &:hover{
            cursor: pointer;
            opacity: 0.7;

          }
          & img{
            position: absolute;
            right: 0;
            margin-right: 63px;
          }
        }
      }
    }
  }